$color_1: #1f1f1f;
$color_2: #fff;

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    .mg {
        h1 {
            display: flex;
            flex-direction: column;
            font-family: "Syne";
            font-size: 22px;
            font-weight: 800;
            color: $color_1;
            margin: 0 40px;

            span {
                font-family: "Work Sans";
                font-size: 10px;
                letter-spacing: 0.3em;
                margin-left: 2px;
            }
        }
    }
    nav {
        ul {
            padding: 0;
            list-style: none;
            display: table;
            width: 600px;
            text-align: center;
            li {
                display: table-cell;
                position: relative;
                padding: 10px 0;
                a {
                    color: $color_1;
                    text-decoration: none;
                    cursor: pointer;
                    text-transform: uppercase;
                    letter-spacing: 0.15em;
                    display: inline-block;
                    padding: 15px 20px;
                    position: relative;
                    &:hover {
                        z-index: 1000;
                        position: relative;
                        color: #ffffff;
                    }
                    &:after {
                        background: none repeat scroll 0 0 transparent;
                        bottom: 0;
                        content: "";
                        display: block;
                        height: 2px;
                        left: 50%;
                        position: absolute;
                        background: #fff;
                        transition:
                            width 0.3s ease 0s,
                            left 0.3s ease 0s;
                        width: 0;
                    }
                    &:hover {
                        &:after {
                            width: 100%;
                            left: 0;
                        }
                    }
                    img {
                        width: 23px;
                        height: 23px;
                        position: relative;
                        transition: 0.7s ease-in-out;
                    }
                    img#github-icone-black {
                        top: 29px;
                    }
                    img#linkedin-logo-black {
                        top: 29px;
                    }
                    img#github-icone-white {
                        opacity: 0;
                        &:hover {
                            opacity: 1;
                            transition: 2ms ease-in-out;
                        }
                    }
                    img#linkedin-logo-white {
                        opacity: 0;
                        &:hover {
                            opacity: 1;
                            transition: 2ms ease-in-out;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 320px) {
    .header {
        display: flex;
        flex-direction: column;
        .mg {
            h1 {
                display: none;
            }
        }
        nav {
            display: flex;
            flex-direction: column;
            ul {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                width: 90%;
                justify-content: center;
            }
            li {
                padding: 0;
            }
            a {
                padding: 10px 20px;
            }
        }
    }
}
