$color_1: #fff;
$background_color1: #1f1f1f;
$background_color2: #b5b5b5c4;
$background_color3: #ffffff6c;

#introduction {
    display: flex;
    justify-content: center;
    margin: 80px 0 0 0;
    background: white;
    z-index: -1;
    position: relative;

    .container-introduction {
        width: 89%;
        display: flex;
        align-items: center;
        margin: 70px 0 90px 0;

        figure {
            border-radius: 44px 113px 68px 121px;
            padding: 8px;
            background: $background_color2;

            img {
                display: block;
                margin: auto;
                width: 384px;
                border-radius: 65px 41px 68px 38px;
            }
        }
    }

    article {
        flex: 1;
        padding: 50px;

        h2 {
            margin-bottom: 1em;
            font-family: "Syne";
            font-weight: 700;
            font-size: 30px;
            color: $background_color1;
        }

        p {
            margin-bottom: 0.5em;
            margin-right: 3.5em;
            color: $background_color1;
            text-align: justify;
            font-weight: 600;
        }
    }

    @media screen and (max-width: 1024px) {
        .container-introduction {
            flex-direction: column;

            figure {
                // left: 0;
                // top: 42px;

                img {
                    margin-bottom: 30px;
                }
            }
            article {
                width: 80%;

                h2 {
                    width: 100%;
                    display: flex;
                    justify-content: flex-start;
                }
            }
        }
    }
}
