$color_1: #fff;
$color_2: #1f1f1f;
$color-main-title: rgb(1 1 1 / 6%);
$color-main-span: #1f1f1f;
$background_container: rgb(239 239 239);

#introduction {
    display: flex;
    justify-content: center;
    margin: 80px 0 0 0;
    background: white;
    z-index: -1;
    position: relative;

    .container-introduction {
        width: 89%;
        display: flex;
        align-items: center;
        margin: 0 0 90px 0;

        article {
            flex: 1;
            padding: 50px;

            .about-title {
                margin-bottom: 0;
                position: absolute;
                margin-top: 0;
                top: -40px;
                font-size: 50px;
                font-family: "Lilita One", sans-serif;
                color: $color-main-title;
                left: 80px;
            }
            .about-span {
                position: relative;
                bottom: 65px;
                left: 0px;
                font-weight: 600;
                font-size: 20px;
                font-family: "Syne";
                color: $color-main-span;
            }
            p {
                color: $color_2;
                text-align: justify;
                font-weight: 600;
            }
        }
    }

    @media screen and (max-width: 1024px) {
        .container-introduction {
            flex-direction: column;
            article {
                width: 80%;

                h2 {
                    width: 100%;
                    display: flex;
                    justify-content: flex-start;
                }
            }
        }
    }
}
