$color_1: #fff;
$color_2: #808080;
$color_3: #1f1f1f;
$color-main-title: rgb(1 1 1 / 6%);
$color-main-span: #1f1f1f;
$font-family_1: "Open Sans";
$background-color_1: rgb(239 239 239);
$background-color_2: rgb(0 0 0 / 49%);
$background_container: rgb(239 239 239);

#portfolio {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 45px;
    margin-bottom: 100px;
    width: 100%;
    border-radius: 20px;
    margin-top: 40px;
    position: relative;
    .main-title {
        position: absolute;
        top: -2px;
        left: 65px;
        font-size: 50px;
        font-family: "Lilita One", sans-serif;
        color: $color-main-title;
    }
    .main-span {
        position: absolute;
        top: 65px;
        left: 120px;
        font-weight: 600;
        font-size: 20px;
        font-family: "Syne";
        color: $color-main-span;
    }
    #portfolio-title {
        display: flex;
        justify-content: space-around;
        color: #fff;
        font-size: 15px;
        width: 90px;
        height: 45px;
        background: white;
        margin: 0;
        flex-direction: row;
        align-items: center;
        border-radius: 50px 50px 0 0;
        color: black;
        position: relative;
        left: 20px;
        top: 60px;
    }

    #portfolio-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        justify-items: center;
        margin-bottom: 70px;
        margin: 80px 0 70px 0;
        padding: 90px 50px 80px 50px;
        // background: $background-color_1;
        width: 85%;
        border-radius: 20px;
        background: $background_container;
        box-shadow:
            0 19px 38px rgba(0, 0, 0, 0.3),
            0 15px 12px rgba(0, 0, 0, 0.2);

        .row {
            width: 280px;
            opacity: 0;
            transition:
                opacity 1s ease,
                transform 1s ease;
            margin-bottom: 20px;
            transform: translateX(-400%);
            &:hover {
                cursor: pointer;
            }

            &.show {
                transform: translateX(0);
                opacity: 1;
            }
        }
        .card {
            float: left;
            width: 100%;
            .menu-content {
                margin: 0;
                padding: 0;
                list-style-type: none;
                &::before {
                    content: "";
                    display: table;
                }
                &::after {
                    content: "";
                    display: table;
                    clear: both;
                }
                li {
                    display: inline-block;
                }
                a {
                    color: $color_1;
                }
                span {
                    position: absolute;
                    left: 50%;
                    top: 0;
                    font-size: 10px;
                    font-weight: 700;
                    font-family: $font-family_1;
                    transform: translate(-50%, 0);
                }
            }
            .wrapper {
                background-color: $background-color_1;
                color: $color_3;
                min-height: 350px;
                max-width: 300px;
                border-radius: 10px;
                position: relative;
                overflow: hidden;
                box-shadow:
                    0 19px 38px rgba(0, 0, 0, 0.3),
                    0 15px 12px rgba(0, 0, 0, 0.2);
                &:hover {
                    .data {
                        transform: translateY(0);
                    }
                }
            }
            .data {
                position: absolute;
                bottom: 0;
                width: 100%;
                transform: translateY(calc(70px + 1em));
                transition: transform 0.3s;
                .content {
                    padding: 1em;
                    position: relative;
                    z-index: 1;
                }
            }
            .date {
                font-size: 12px;
            }
            .title {
                margin-top: 10px;
            }
            .text {
                height: 70px;
                margin: 0;
            }
        }
        .project-card {
            .container-techno {
                position: absolute;
                top: 0;
                left: 0;
                background-color: $background-color_2;
                color: $color_1;
                padding: 0.8em;
                span {
                    display: block;
                    text-align: center;
                }
                .techno {
                    text-transform: uppercase;
                    font-size: 12px;
                }
            }
            .content {
                background-color: $background-color_1;
                box-shadow: 0 5px 30px 10px rgba(0, 0, 0, 0.3);
            }
            .title {
                a {
                    color: $color_2;
                }
            }
        }
    }

    @media screen and (max-width: 1355px) {
        #portfolio-container {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
    @media screen and (max-width: 996px) {
        #portfolio-container {
            grid-template-columns: 1fr 1fr;
        }
    }
    @media screen and (max-width: 665px) {
        #portfolio-container {
            grid-template-columns: 1fr;
        }
    }
}
