$color_1: #1f1f1f;
$charade: #282a37;

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    .donut {
        width: 2rem;
        height: 2rem;
        margin: 2rem;
        border-radius: 50%;
        border: 0.3rem solid rgba($charade, 0.3);
        border-top-color: $charade;
        animation: 1.5s spin infinite linear;
        &.multi {
            border-bottom-color: $charade;
        }
    }

    @keyframes spin {
        to {
            transform: rotate(360deg);
        }
    }

    h1 {
        padding-top: 50px;
        display: flex;
        flex-direction: column;
        font-family: "Syne";
        font-size: 65px;
        font-weight: 800;
        color: $color_1;
        align-items: flex-start;
        span {
            font-family: "Work Sans";
            font-size: 10px;
            letter-spacing: 0.6em;
            margin-left: 2px;
        }
    }
}

@media screen and (max-width: 320px) {
    .home {
        display: flex;
        flex-direction: column;

        h1 {
            font-size: 40px;
            padding: 20px;
        }
    }
}
