.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    .modal-background {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.4);
        z-index: 9998;

        .modal {
            width: 650px;
            height: 550px;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            opacity: 1;
            color: black;
            background: white;
            z-index: 9999;
            border-radius: 20px;
            cursor: pointer;
            animation: fadeInModal 0.3s ease-in-out;

            .xmark {
                display: flex;
                justify-content: flex-end;
                margin: 20px 20px 0 0;
                .close {
                    width: 25px;
                }
            }
        }
    }
}

@keyframes fadeInModal {
    from {
        opacity: 0;
        transform: translate(-50%, -70%);
    }
}
