#root {
    background: linear-gradient(90deg, #0a0b20, #18183b, #050303);
    background-size: 200% 180%;
    animation: gradient-animation 30s cubic-bezier(0.42, 0, 0.58, 1) infinite;
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}
