/* BODY */

html {
  position: relative;
  min-height: 180vh;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-family: "Work Sans";
  font-size: 14px;
  background: white;
  cursor: none;
}

@media screen and (max-width: 1017px) {
  body {
    cursor: default;
  }
}

/* MOUSE */

.mouse {
  position: fixed;
  border-radius: 1500px;
  transform: translate(-50%, -50%);
  mix-blend-mode: difference;
}
#cursor {
  background: #fefefe;
  width: 14px;
  height: 14px;
  position: fixed;
}
#mouse1 {
  height: 100px;
  width: 100px;
  background: white;
  transition: 0.1s ease-out;
}
#mouse2 {
  height: 200px;
  width: 200px;
  background: rgb(46, 45, 45);
  transition: 0.2s ease-out;
}

@media screen and (max-width: 1017px) {
  #cursor,
  #mouse1,
  #mouse2 {
    display: none;
  }
}
