$color_1: #ffffff;
$color_2: #1f1f1f;

.footer {
    display: flex;
    justify-content: space-between;
    background: $color_2;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
    z-index: -1;
    margin-top: 50px;
    padding: 10px 0 5px 0;

    .mg {
        h2 {
            display: flex;
            flex-direction: column;
            font-family: "Syne";
            font-size: 22px;
            font-weight: 800;
            color: $color_1;
            margin: 0 40px;
            span {
                font-family: "Work Sans";
                font-size: 10px;
                letter-spacing: 0.3em;
                margin-left: 2px;
            }
        }
    }
    p {
        color: white;
        font-family: "Work Sans";
        letter-spacing: 0.1em;
        font-size: 10px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-right: 35px;
        .logo-react-footer {
            width: 20px;
            padding: 0 5px 0 5px;
        }
        .logo-vite-footer {
            width: 20px;
            padding: 0 5px 0 5px;
        }
    }
    @media screen and (max-width: 500px) {
        display: none;
    }
}
