.donut {
  position: fixed;
  left: 50%;
  top: 40%;
  width: 2rem;
  height: 2rem;
  margin: 2rem;
  border-radius: 50%;
  border: 0.3rem solid rgba(40, 42, 55, 0.3);
  border-top-color: #282a37;
  animation: 1.5s spin infinite linear;
}
.donut.multi {
  border-bottom-color: #282a37;
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

#portfolio {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 45px;
  margin-bottom: 100px;
  width: 100%;
  border-radius: 20px;
}
#portfolio #portfolio-title {
  display: flex;
  justify-content: space-around;
  color: #fff;
  font-size: 15px;
  width: 90px;
  height: 45px;
  background: white;
  margin: 0;
  flex-direction: row;
  align-items: center;
  border-radius: 50px 50px 0 0;
  color: black;
  position: relative;
  left: 20px;
  top: 60px;
}
#portfolio #portfolio-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  padding: 50px;
  background: #ffffff;
  width: 85%;
  border-radius: 20px;
}
#portfolio #portfolio-container .row {
  width: 280px;
  opacity: 0;
  transition: 1s ease;
}
#portfolio #portfolio-container .row.even {
  transform: translateX(0);
  opacity: 1;
}
#portfolio #portfolio-container .row.odd {
  transform: translateX(-200%);
}
#portfolio #portfolio-container .card {
  float: left;
  width: 100%;
}
#portfolio #portfolio-container .card .menu-content {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
#portfolio #portfolio-container .card .menu-content::before {
  content: "";
  display: table;
}
#portfolio #portfolio-container .card .menu-content::after {
  content: "";
  display: table;
  clear: both;
}
#portfolio #portfolio-container .card .menu-content li {
  display: inline-block;
}
#portfolio #portfolio-container .card .menu-content a {
  color: #fff;
}
#portfolio #portfolio-container .card .menu-content span {
  position: absolute;
  left: 50%;
  top: 0;
  font-size: 10px;
  font-weight: 700;
  font-family: "Open Sans";
  transform: translate(-50%, 0);
}
#portfolio #portfolio-container .card .wrapper {
  background-color: #ffffff;
  color: #1f1f1f;
  min-height: 440px;
  max-width: 300px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.2);
}
#portfolio #portfolio-container .card .wrapper:hover .data {
  transform: translateY(0);
}
#portfolio #portfolio-container .card .data {
  position: absolute;
  bottom: 0;
  width: 100%;
  transform: translateY(calc(70px + 1em));
  transition: transform 0.3s;
}
#portfolio #portfolio-container .card .data .content {
  padding: 1em;
  position: relative;
  z-index: 1;
}
#portfolio #portfolio-container .card .date {
  font-size: 12px;
}
#portfolio #portfolio-container .card .title {
  margin-top: 10px;
}
#portfolio #portfolio-container .card .text {
  height: 70px;
  margin: 0;
}
#portfolio #portfolio-container .project-card .container-techno {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(54, 56, 65, 0.4);
  color: #fff;
  padding: 0.8em;
}
#portfolio #portfolio-container .project-card .container-techno span {
  display: block;
  text-align: center;
}
#portfolio #portfolio-container .project-card .container-techno .techno {
  text-transform: uppercase;
  font-size: 12px;
}
#portfolio #portfolio-container .project-card .content {
  background-color: #ffffff;
  box-shadow: 0 5px 30px 10px rgba(0, 0, 0, 0.3);
}
#portfolio #portfolio-container .project-card .title a {
  color: #808080;
}/*# sourceMappingURL=Portfolio.css.map */