.services-section {
  position: relative;
  width: 90%;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.services-section h2 {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
  height: 30px;
  padding-top: 40px;
  padding-bottom: 5px;
  font-family: "Syne";
  position: relative;
  color: #1f1f1f;
}
.services-section h2::after {
  content: "";
  position: absolute;
  border-bottom: solid 2px #43a8d2;
  width: 90px;
  bottom: 0;
}
.services-section .card-container {
  position: absolute;
  width: 350px;
  height: 350px;
  bottom: 0;
  right: 0;
  transform: translateX(-50%) translateY(-50%);
  perspective: 1000px;
}
.services-section .card-container .left {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  z-index: 2;
}
.services-section .card-container .left:hover {
  width: 100%;
  z-index: 3;
}
.services-section .card-container .right {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  z-index: 2;
}
.services-section .card-container .right:hover {
  width: 100%;
  z-index: 3;
}
.services-section .card-container .card {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.5s ease-in-out;
}
.services-section .card-container .left:hover ~ .card {
  transform: rotateY(-180deg);
}
.services-section .card-container .right:hover ~ .card {
  transform: rotateY(180deg);
}
.services-section .card-container2 {
  left: 450px;
}
.services-section .card .front,
.services-section .card .back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-family: "Roboto", sans-serif;
  color: #444;
  backface-visibility: hidden;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.services-section .card .front {
  background: rgba(0, 0, 0, 0.11);
  z-index: 2;
}
.services-section .card .back {
  background: #747880;
  z-index: 3;
  transform: rotateY(180deg);
}
.services-section .card .front .cover {
  width: 100%;
  height: 200px;
  background-position: 50% 50%/no-repeat;
  background-size: cover;
}
.services-section .card .front .logo-card {
  margin-top: -45px;
}
.services-section .card .front .logo-card img {
  display: block;
  margin: auto;
  width: 90px;
  border-radius: 50%;
}
.services-section .card .front .name {
  margin: 10px auto 5px;
  font-size: 1.5em;
  font-weight: 300;
  line-height: 1;
  text-align: center;
}
.services-section .card .front .role {
  margin: 0;
  text-align: center;
  color: #999;
}
.services-section .card .front .supporting_text {
  margin: 15px auto 20px;
  padding: 8px;
  text-align: center;
}
.services-section .card .back {
  display: flex;
  align-items: center;
  justify-content: center;
}
.services-section .card .back ul {
  padding: 0;
  list-style: none;
}
.services-section .card .back ul li {
  margin: 20px 0;
}
.services-section .card .back ul li .mdi {
  color: #fff;
  font-size: 2em;
  line-height: 1;
  transition: all 0.3s ease;
}
.services-section .card .back ul li .mdi span {
  font-style: normal;
  font-size: 70%;
  top: -3px;
  position: relative;
  margin-left: 8px;
}/*# sourceMappingURL=Services.css.map */