.slider-container {
    position: relative;
    width: 100%;
    height: 420px;
    border: blue solid 2px;

    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 420px;
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
        border: red solid 2px;
        // object-fit: cover;
    }
    .visible {
        opacity: 1;
    }

    .previous {
        position: absolute;
        top: 50%;
        left: 10px;
        transform: translateY(-50%);
        background: transparent;
        border: none;
        font-size: 24px;
        cursor: pointer;
        border: red solid 2px;
    }

    .next {
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        background: transparent;
        border: none;
        font-size: 24px;
        cursor: pointer;
        border: red solid 2px;
    }
}
