.slider-container {
    position: relative;
    width: 100%;
    height: 379px;
    // border: blue solid 2px;

    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 380px;
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
        // border: red solid 2px;
        // object-fit: cover;
    }
    .visible {
        opacity: 1;
    }

    .previous {
        position: absolute;
        top: 50%;
        // left: 10px;
        transform: translateY(-50%);
        background: rgba(185, 185, 185, 0.078);
        // border-radius: 10px;
        border: none;
        font-size: 24px;
        height: 100%;
        cursor: pointer;
        // border: red solid 2px;
        &:active {
            background: rgba(158, 158, 158, 0.123);
        }
    }

    .next {
        color: black;
        position: absolute;
        top: 50%;
        background: rgba(185, 185, 185, 0.078);
        right: 0;
        transform: translateY(-50%);
        // background: transparent;
        border: none;
        font-size: 24px;
        height: 100%;
        cursor: pointer;
        // border: red solid 2px;
        &:active {
            background: rgba(158, 158, 158, 0.123);
        }
    }
}

@media screen and (max-width: 320px) {
    .slider-container {
        height: 200px;
        width: 200px;
        img {
            height: 200px;
            width: 240px;
        }
        .next {
            right: -40px;
        }
    }
}
